.DS_Store
node_modules/
dist/
npm-debug.log
selenium-debug.log
test/unit/coverage
test/e2e/reports
.idea
*.log
docs/site
dll/
*.happypack
.happypack/
static/
build/
tpl/
stats.json
.vscode/**
!.vscode/settings.json
